In [19]:
import pandas as pd
import numpy as np

In [20]:
list_acc = []
list_gyr = []
data_gyr_all = pd.DataFrame()
data_acc_all = pd.DataFrame()

In [21]:
for i in range(0,10):    
    data = pd.read_csv("/home/jovyan/Accl_data/data_"+"160"+str(i)+"_accel_phone.txt", header=None)
    list_acc.append(data)
    data = pd.read_csv("/home/jovyan/Gyro_data/data_"+"160"+str(i)+"_gyro_phone.txt", header=None)
    list_gyr.append(data)
for i in range(10,20):    
    data = pd.read_csv("/home/jovyan/Accl_data/data_"+"16"+str(i)+"_accel_phone.txt", header=None)
    list_acc.append(data)
    data = pd.read_csv("/home/jovyan/Gyro_data/data_"+"16"+str(i)+"_gyro_phone.txt", header=None)
    list_gyr.append(data)

In [22]:
data_gyr_all = data_gyr_all.append(list_gyr,True)
data_acc_all = data_acc_all.append(list_acc,True)

In [23]:
data_acc_all.columns=["id", "class", "t-stamp", "a-x", "a-y", "a-z"] 
data_gyr_all.columns=["id", "class", "t-stamp", "g-x", "g-y", "g-z"]

In [24]:
data_acc_all

           id class          t-stamp       a-x        a-y          a-z
0        1600     A  252207666810782 -0.364761   8.793503   1.0550842;
1        1600     A  252207717164786 -0.879730   9.768784   1.0169983;
2        1600     A  252207767518790  2.001495  11.109070    2.619156;
3        1600     A  252207817872794  0.450623  12.651642  0.18455505;
4        1600     A  252207868226798 -2.164352  13.928436  -4.4224854;
...       ...   ...              ...       ...        ...          ...
1580240  1619     S  173119537417474 -4.827309  -3.670910   7.6470804;
1580241  1619     S  173119576999296 -4.746505  -3.773861    7.619547;
1580242  1619     S  173119616901900 -4.587889  -3.876213    7.666234;
1580243  1619     S  173119656833773 -4.545991  -3.940257    7.635708;
1580244  1619     S  173119696715755 -4.642357  -3.875015   7.6105685;

[1580245 rows x 6 columns]

In [25]:
data_gyr_all

           id class          t-stamp       g-x       g-y            g-z
0        1600     A  252207918580802 -0.853210  0.297226     0.8901825;
1        1600     A  252207968934806 -0.875137  0.015472    0.16223145;
2        1600     A  252208019288809 -0.720169  0.388489   -0.28401184;
3        1600     A  252208069642813 -0.571640  1.227402    -0.2416687;
4        1600     A  252208119996817 -0.380493  1.202835   -0.21313477;
...       ...   ...              ...       ...       ...            ...
1387307  1619     S  173119576999296 -0.121440  0.028762   0.024501082;
1387308  1619     S  173119616901900 -0.104396  0.014914   0.020240024;
1387309  1619     S  173119656833773 -0.054328  0.003196   0.004261058;
1387310  1619     S  173119696715755 -0.021305  0.003196  -0.015978966;
1387311  1619     S  173119736627057 -0.004261 -0.001065  -0.020240024;

[1387312 rows x 6 columns]

In [26]:
new_df = pd.merge(data_acc_all,data_gyr_all)

In [27]:
new_df

,id,class,t-stamp,a-x,a-y,a-z,g-x,g-y,g-z
0,1600,A,252207918580802,-4.332779,13.361191,-0.7188721;,-0.853210,0.297226,0.8901825;
1,1600,A,252207968934806,-0.319443,13.318359,-0.23202515;,-0.875137,0.015472,0.16223145;
2,1600,A,252208019288809,1.566452,9.515274,-0.01777649;,-0.720169,0.388489,-0.28401184;
3,1600,A,252208069642813,-0.323746,5.262665,0.32234192;,-0.571640,1.227402,-0.2416687;
4,1600,A,252208119996817,-1.811676,3.710510,1.3739319;,-0.380493,1.202835,-0.21313477;
...,...,...,...,...,...,...,...,...,...
1236532,1619,S,173119537417474,-4.827309,-3.670910,7.6470804;,-0.126766,0.053263,0.039414786;
1236533,1619,S,173119576999296,-4.746505,-3.773861,7.619547;,-0.121440,0.028762,0.024501082;
1236534,1619,S,173119616901900,-4.587889,-3.876213,7.666234;,-0.104396,0.014914,0.020240024;
1236535,1619,S,173119656833773,-4.545991,-3.940257,7.635708;,-0.054328,0.003196,0.004261058;
1236536,1619,S,173119696715755,-4.642357,-3.875015,7.6105685;,-0.021305,0.003196,-0.015978966;

In [28]:
Required = new_df.drop(columns=['id', 't-stamp'])
Required

,class,a-x,a-y,a-z,g-x,g-y,g-z
0,A,-4.332779,13.361191,-0.7188721;,-0.853210,0.297226,0.8901825;
1,A,-0.319443,13.318359,-0.23202515;,-0.875137,0.015472,0.16223145;
2,A,1.566452,9.515274,-0.01777649;,-0.720169,0.388489,-0.28401184;
3,A,-0.323746,5.262665,0.32234192;,-0.571640,1.227402,-0.2416687;
4,A,-1.811676,3.710510,1.3739319;,-0.380493,1.202835,-0.21313477;
...,...,...,...,...,...,...,...
1236532,S,-4.827309,-3.670910,7.6470804;,-0.126766,0.053263,0.039414786;
1236533,S,-4.746505,-3.773861,7.619547;,-0.121440,0.028762,0.024501082;
1236534,S,-4.587889,-3.876213,7.666234;,-0.104396,0.014914,0.020240024;
1236535,S,-4.545991,-3.940257,7.635708;,-0.054328,0.003196,0.004261058;
1236536,S,-4.642357,-3.875015,7.6105685;,-0.021305,0.003196,-0.015978966;

In [29]:
Required.to_csv('Cleaned_Train_data.csv',index=False)