In [1]:
import pandas as pd
import numpy as np

In [2]:
list_acc = []
list_gyr = []
data_gyr_all = pd.DataFrame()
data_acc_all = pd.DataFrame()

In [5]:
for i in range(20,34):    
    data = pd.read_csv("/home/jovyan/Accl_Test_data/data_"+"16"+str(i)+"_accel_phone.txt", header=None)
    list_acc.append(data)
    data = pd.read_csv("/home/jovyan/Gyro_Test_data/data_"+"16"+str(i)+"_gyro_phone.txt", header=None)
    list_gyr.append(data)

In [6]:
data_gyr_all = data_gyr_all.append(list_gyr,True)
data_acc_all = data_acc_all.append(list_acc,True)

In [7]:
data_acc_all.columns=["id", "class", "t-stamp", "a-x", "a-y", "a-z"] 
data_gyr_all.columns=["id", "class", "t-stamp", "g-x", "g-y", "g-z"]

In [24]:
data_acc_all

           id class          t-stamp       a-x        a-y          a-z
0        1600     A  252207666810782 -0.364761   8.793503   1.0550842;
1        1600     A  252207717164786 -0.879730   9.768784   1.0169983;
2        1600     A  252207767518790  2.001495  11.109070    2.619156;
3        1600     A  252207817872794  0.450623  12.651642  0.18455505;
4        1600     A  252207868226798 -2.164352  13.928436  -4.4224854;
...       ...   ...              ...       ...        ...          ...
1580240  1619     S  173119537417474 -4.827309  -3.670910   7.6470804;
1580241  1619     S  173119576999296 -4.746505  -3.773861    7.619547;
1580242  1619     S  173119616901900 -4.587889  -3.876213    7.666234;
1580243  1619     S  173119656833773 -4.545991  -3.940257    7.635708;
1580244  1619     S  173119696715755 -4.642357  -3.875015   7.6105685;

[1580245 rows x 6 columns]

In [25]:
data_gyr_all

           id class          t-stamp       g-x       g-y            g-z
0        1600     A  252207918580802 -0.853210  0.297226     0.8901825;
1        1600     A  252207968934806 -0.875137  0.015472    0.16223145;
2        1600     A  252208019288809 -0.720169  0.388489   -0.28401184;
3        1600     A  252208069642813 -0.571640  1.227402    -0.2416687;
4        1600     A  252208119996817 -0.380493  1.202835   -0.21313477;
...       ...   ...              ...       ...       ...            ...
1387307  1619     S  173119576999296 -0.121440  0.028762   0.024501082;
1387308  1619     S  173119616901900 -0.104396  0.014914   0.020240024;
1387309  1619     S  173119656833773 -0.054328  0.003196   0.004261058;
1387310  1619     S  173119696715755 -0.021305  0.003196  -0.015978966;
1387311  1619     S  173119736627057 -0.004261 -0.001065  -0.020240024;

[1387312 rows x 6 columns]

In [8]:
new_df = pd.merge(data_acc_all,data_gyr_all)

In [9]:
new_df

,id,class,t-stamp,a-x,a-y,a-z,g-x,g-y,g-z
0,1620,A,938035035913281,3.350739,8.355515,-3.3041077;,0.811447,0.440994,-1.1239166;
1,1620,A,938035086267284,3.751190,11.994522,-3.6960754;,0.316513,0.900757,-0.92803955;
2,1620,A,938035136621288,3.538361,10.114059,-1.687439;,0.187683,0.590820,-0.17601013;
3,1620,A,938035186975292,4.804016,7.259460,-0.61299133;,0.340454,0.755875,0.7628479;
4,1620,A,938035237329296,5.411392,8.652054,-2.2126312;,0.475555,0.825500,0.10922241;
...,...,...,...,...,...,...,...,...,...
897780,1633,S,691479100045158,-0.666748,-8.358902,-6.757263;,-0.193161,0.116669,0.027755737;
897781,1633,S,691479150399161,-0.703339,-7.996368,-5.5796356;,0.071671,0.599579,0.16012573;
897782,1633,S,691479200753165,-1.429382,-8.452072,-5.930725;,-0.064743,-0.117157,-0.22363281;
897783,1633,S,691479251107169,-0.767334,-8.038971,-6.09375;,-0.147034,-0.495255,-0.5251007;
897784,1633,S,691479301461173,-0.807587,-8.000488,-6.427826;,-0.123383,0.143234,-0.5009918;

In [10]:
Required = new_df.drop(columns=['id', 't-stamp'])
Required

,class,a-x,a-y,a-z,g-x,g-y,g-z
0,A,3.350739,8.355515,-3.3041077;,0.811447,0.440994,-1.1239166;
1,A,3.751190,11.994522,-3.6960754;,0.316513,0.900757,-0.92803955;
2,A,3.538361,10.114059,-1.687439;,0.187683,0.590820,-0.17601013;
3,A,4.804016,7.259460,-0.61299133;,0.340454,0.755875,0.7628479;
4,A,5.411392,8.652054,-2.2126312;,0.475555,0.825500,0.10922241;
...,...,...,...,...,...,...,...
897780,S,-0.666748,-8.358902,-6.757263;,-0.193161,0.116669,0.027755737;
897781,S,-0.703339,-7.996368,-5.5796356;,0.071671,0.599579,0.16012573;
897782,S,-1.429382,-8.452072,-5.930725;,-0.064743,-0.117157,-0.22363281;
897783,S,-0.767334,-8.038971,-6.09375;,-0.147034,-0.495255,-0.5251007;
897784,S,-0.807587,-8.000488,-6.427826;,-0.123383,0.143234,-0.5009918;

In [11]:
Required.to_csv('Cleaned_Test_data.csv',index=False)